<!DOCTYPE html>
<html>
<head>
    <title>Django wymeditor widget</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <meta charset="utf-8">
</head>
<body>
    <hgroup>
        <h1>Django wymeditor widget</h1>
        <p>This is simple widget for Textfield with django cms classes integration</p>
    </hgroup>
    <h2>Example</h2>

    <h2>Installing</h2>

    <h2>Use in django-admin</h2>

    <h2>django cms</h2>

</body>
</html>